:root {
  --contrast: #e1866d;
  --contrast-light: hsl(13, 66%, 97%);
  --main-dark: #2f4c54;
  --main-darker: #1d3035;
  --light: #dcf5f3;
  --lightest: white;
  --dark: black;
}
body { 
  margin: 0; padding: 0; display: grid;
  font-family: sans-serif; box-sizing: border-box;
}
.section-header {
  margin: 2rem auto 3rem auto; text-transform: uppercase;
  font-size: 3.6rem; font-weight: bold; display: inline-block; border-bottom: 4px solid var(--contrast);
}
blockquote {
  margin: 20px 0; padding: 5px 0 5px 20px; font-family: cursive; font-size: 2.5rem;
  border-left: 12px solid var(--contrast); background: var(--contrast-light);
}
cite {
  text-align: right; display: block;
}
section {
  display: grid;
}

.home {
  height: 94vh; padding-top: 50px;
  background-image: url('../images/splash.jpg'); background-size: cover; 
  background-position: bottom; background-attachment: fixed;
  display: flex; flex-direction: column; align-items: center; justify-content: center;
}
.home__logo {
  width: 220px;
}
.home__name {
  font-size: 3.5rem; font-weight: bold; color: var(--main-dark); text-transform: uppercase;
}
.home__text {
  width: 75%;
  color: var(--light); font-size: 1.5rem; text-align: center; text-shadow: 1px 1px 15px var(--main-dark);
}
.home__chevron {
  font-size: 4rem; color: var(--main-dark);
}

.nav {
  display: grid; grid-template-columns: 50px 1fr; grid-gap: 25%;
  background-color: var(--main-dark); position: fixed; z-index: 999;
  width: 100%; border-bottom: 3px solid var(--contrast); padding: 5px; 
}
.nav__logo {
  width: 100%; margin: 5px 0;
}
.nav__link-container {
  display: flex; justify-content: space-around; align-items: center;
}
.nav__link {
  color: var(--lightest); margin: 5px 0; text-decoration: none; text-transform: uppercase;
  font-size: 1.1rem;
}

.about {
  background: var(--main-darker); color: var(--light); padding: 10px 60px;
  text-align: center; box-shadow: 0px 0px 30px var(--dark); z-index: 1;
}
.about__text {
  font-size: 1.7rem; line-height: 2.5rem; font-weight: 100; margin-bottom: 5rem;
}
.about__logos-container {
  display: grid; grid-template-columns: repeat(4, 1fr); grid-gap: 30px;
}
.about__logos-tile {
  display: grid; grid-template-columns: 1fr; grid-template-rows: 120px auto 1fr;
  align-content: center; justify-items: center;
  color: var(--light); font-weight: 100;
}
.about__logo-wrapper {
  background: var(--light); border-radius: 50%; height: 120px; width: 120px;
  display: flex; align-items: center; justify-content: center;
  border: 2px solid var(--contrast); transition: all 0.2s;
}
.about__logo-wrapper:hover {
  transform: scale(1.25);
}
.about__logo {
  width: 80%;
}
.about__logo-header {
  text-transform: uppercase; font-weight: 100; letter-spacing: 2px; color: var(--contrast);
}
.about__logos-text {
  width: 90%; font-size: 0.85rem; color: var(--lightest); line-height: 1.3rem;
}

.projects {
  background: var(--light); padding: 10px 60px;
  text-align: center; color: var(--main-darker);
}
.projects__filters-list {
  display: flex; list-style: none; padding: 0; margin: 0; width: 85%; margin: 0 auto;
  margin-bottom: 50px;
}
.projects__filters-list li {
  flex: 1; padding: 12px 0; cursor: pointer; margin: 0 20px;
  border-bottom: 3px solid var(--contrast);
}
.projects__filter-selected {
  background: var(--contrast); border-bottom: 3px solid var(--main-dark)!important;
}
.projects__tile-container {
  display: grid; grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  grid-template-rows: 320px;
}
.projects__tile {
  border: 2px solid var(--main-darker); border-radius: 5px; background: var(--main-dark);
  color: var(--lightest); perspective: 1000px; overflow: hidden;
}
.projects__tile-flipcard {
  transition: 0.3s; transform-style: preserve-3d; position: absolute;
  top: 0; left: 0; width: 100%; height: 100%;
}
.projects__tile:hover .projects__tile-flipcard {
  transform: rotateY(180deg);
}
.projects__tile-front {
  z-index: 2; transform: rotateY(0deg); backface-visibility: hidden; position: absolute;
  top: 0; left: 0; width: 100%; background: var(--main-dark);
}
.projects__tile-screenshot {
  max-width: 100%;
}
.projects__tile-title {
  grid-column: span 2; border-bottom: 2px solid var(--contrast); margin: 0; padding: 10px 0;
}
.projects__tile-text {
  grid-column: span 2; font-size: 0.8rem;
}
.projects__tile-back {
  display: grid; grid-template-columns: 1fr 1fr; grid-template-rows: auto auto auto 1fr;
  transform: rotateY(180deg); position: absolute; top: 0; left: 0; width: 100%;
}
.project__tile-links {
  border: 1px solid var(--contrast); border-radius: 50%; width: 35px; height: 35px;
  display: flex; align-items: center; justify-content: center; background: var(--light);
  color: var(--main-darker); padding: 4px; justify-self: center; font-size: 1.7rem;
}
.projects__tile-icons {
  grid-column: span 2;
}




.skills {
  grid-template-columns: 1fr; grid-gap: 20px; justify-items: center;
  background: var(--main-dark); padding-bottom: 50px;
}
.skills__header {
  color: var(--lightest);
}
.skills__section {
  padding: 10px 30px; width: 90%; background: var(--lightest); border-radius: 3px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12)
}
.skills__section-title {
  font-weight: 100; font-size: 2.2rem; border-bottom: 3px solid var(--contrast);
  padding-bottom: 4px
}
.skills__list {
  padding: 0; display: grid; grid-template-columns: repeat(auto-fill, minmax(150px, 150px));
  list-style: none;
}
.skills__list li {
  display: flex; flex-direction: column; align-items: center; justify-content: space-between;
}
.skills__list img {
  max-width: 90px; margin: 10px 0;
}
.skills__button {
  font-size: 1.7rem; background: none; border: 2px solid var(--contrast); margin: 15px 0;
  padding: 9px; color: var(--light); border-radius: 3px; text-decoration: none;
}

.courses {
  grid-gap: 15px; margin: 0 20px 50px 20px;
}
.courses__quote {
  padding: 10px;
}
.courses__text {
  font-size: 1.5rem; line-height: 2.3rem; font-weight: 100;
}
.courses__container {

}
.courses__card {
  width: 23%; padding: 10px; border: 1px solid var(--main-dark); border-radius: 3px;
  display: grid; grid-template-columns: 1fr 1fr; grid-gap: 10px; background: var(--contrast-light);
}
.courses__card-title {
  font-weight: 100; font-size: 1.4rem; text-align: center; margin: 0; grid-column: span 2;
  border-bottom: 2px solid var(--contrast); padding-bottom: 5px;
}
.courses__card-institution {
  font-size: 0.8rem; font-weight: bold;
}
.courses__card-date {
  text-align: right; font-size: 0.8rem;
}
.courses__card-text {
  font-size: 0.85rem; grid-column: span 2; font-weight: 100;
}

.contact {
  background: var(--contrast-light); justify-items: center;
}
.contact__header {
  margin: 2rem auto;
}
.contact__social {
  display: flex;
}
.contact__social-fig {
  margin: 0 30px; display: flex; flex-direction: column; justify-content: space-around;
  align-items: center;
}
.contact__social-fig a {
  color: var(--main-dark); text-decoration: none;
}
.contact__social-icon {
  width: 35px; margin-bottom: 20px;
}
.contact__text {
  font-size: 1.5rem; line-height: 2.3rem; font-weight: 100;
}
.contact__form {
  padding: 15px; display: grid; width: 40%; font-weight: 100;
}
.form__input, .form__textarea, .form__submit {
  margin: 5px 10px; background: var(--main-darker); font-size: 0.9rem;
  padding: 5px; color: var(--lightest); border: none; outline: none;
}
.form__textarea {
  height: 90px; 
}
.form__submit {
  width: 20%; color: var(--main-darker); background: none; justify-self: flex-end;
  border: 2px solid var(--main-darker); text-transform: uppercase;
}

.footer {
  background: var(--main-darker); color: var(--light); position: relative;
  text-align: center; font-size: 0.8rem; padding-bottom: 50px;
}
.footer__copyright {
  padding-top: 100px;
}
.footer::before, .footer::after {
  width: 50%; height: 50px; position: absolute; content: ' ';
  background: linear-gradient(to top right, var(--main-darker) 0% 50%, var(--contrast-light) 50% 100%);
}
.footer::before {
  left: 0;
}
.footer::after {
  transform: scaleX(-1); right: 0; top: 0;
}
.footer__button {
  font-size: 2.2rem; border: 1px solid var(--contrast); background: none;
  color: var(--light); border-radius: 4px; padding: 6px 11px; cursor: pointer;
}
.footer__button:hover i {
  animation: chevron 1.3s linear 0s infinite;
}
@keyframes chevron {
  from {transform: translateY(0);}
  80% {transform: translateY(-8px);}
  100% {transform: translateY(-8px);}
}