@import url('https://fonts.googleapis.com/css?family=Charm|Roboto:100,400,500,700,900');


:root {
  --contrast: #e1866d;
  --contrast-light: hsl(13, 66%, 97%);
  --main-dark: #2f4c54;
  --main-darker: #1d3035;
  --light: #dcf5f3;
  --lightest: white;
  --dark: black;
  scroll-behavior: smooth;
  --main-font: 'Roboto', arial, sans-serif;
  --cursive-font: 'Charm', cursive;
}
body { 
  margin: 0; padding: 0; display: grid; font-family: var(--main-font); box-sizing: border-box;
  background: url(../images/splash.jpg); background-size: 115%; background-repeat: no-repeat;
  background-position: bottom center; background-attachment: fixed;
}
.section-header {
  margin: 2rem auto 3rem auto; text-transform: uppercase; text-align: center;
  font-size: 3.6rem; font-weight: bold; display: inline-block; border-bottom: 4px solid var(--contrast);
}
blockquote {
  margin: 20px 0; padding: 5px 0 5px 20px; font-family: var(--cursive-font);
  font-size: 2.5rem; border-left: 12px solid var(--contrast); background: var(--contrast-light);
}
cite {
  text-align: right; display: block;
}
section {
  display: grid;
}

.home {
  height: 94vh; padding-top: 50px;  z-index: 7;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25));
  display: flex; flex-direction: column; align-items: center; justify-content: center;
}
.home__logo {
  width: 220px; margin-top: 30px;
}
.home__name {
  font-size: 3.5rem; font-weight: bold; color: var(--main-dark); text-transform: uppercase;
}
.home__text {
  width: 75%;
  color: var(--light); font-size: 1.5rem; text-align: center; text-shadow: 1px 1px 15px var(--main-dark);
}
.home__chevron {
  font-size: 4rem; color: var(--main-dark);
}

.nav {
  display: grid; grid-template-columns: 50px 1fr; grid-gap: 15%; z-index: 999; position: fixed;
  background-color: var(--main-dark); box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.7);
  width: 100%; border-bottom: 3px solid var(--contrast); padding: 0 5px 0 5px; 
}
.nav__logo {
  width: 100%; max-width: 50px; margin: 5px 0;
}
.nav__link-container {
  display: flex; justify-content: space-around; align-items: stretch;
}
.nav__link {
  color: var(--lightest); text-decoration: none; text-transform: uppercase;
  font-size: 1.1rem; display: flex; align-items: center; padding: 0 5px;
  transition: background-color 0.4s ease-in;
}
.nav__link-selected {
  background-color: var(--contrast);
}

.about {
  color: var(--light); padding: 10px 60px; background-image: url('/images/texture-about.png');
  background-color: var(--main-darker); text-align: center;
  box-shadow: 0px 0px 30px var(--dark); z-index: 6;
   /* width: 98%; */
}
.about__text {
  font-size: 1.7rem; line-height: 2.5rem; font-weight: 100; margin-bottom: 5rem;
}
.about__logos-container {
  display: grid; grid-template-columns: repeat(4, 1fr); grid-gap: 30px;
  justify-content: center;
}
.about__logos-tile {
  display: grid; grid-template-columns: 1fr; grid-template-rows: 120px auto 1fr;
  align-content: center; justify-items: center;
  color: var(--light); font-weight: 100;
}
.about__logo-wrapper {
  background: var(--light); border-radius: 50%; height: 120px; width: 120px;
  display: flex; align-items: center; justify-content: center;
  border: 2px solid var(--contrast); transition: all 0.2s;
}
.about__logo-wrapper:hover {
  transform: scale(1.25);
}
.about__logo {
  width: 80%;
}
.about__logo-header {
  text-transform: uppercase; font-weight: normal; letter-spacing: 2px; color: var(--contrast);
}
.about__logos-text {
  width: 90%; font-size: 0.85rem; color: var(--lightest); line-height: 1.3rem;
}

.projects {
  background-image: url('/images/texture-projects.png');
  background-color: var(--light); padding: 10px 60px; text-align: center; color: var(--main-darker);
  --collapsed-height: 10px; box-shadow: -5px -5px 50px var(--dark); z-index: 5;
}
.projects__filters-list {
  display: grid; list-style: none; padding: 0; margin: 0 auto 50px auto; width: 85%;
  grid-template-columns: repeat(5, 20%); position: relative;
}
.projects__filters-list li {
  flex: 1; padding: 12px 0; cursor: pointer; margin: 0 20px;
  border-bottom: 3px solid var(--contrast);
}
.projects__slider {
  position: absolute; top: 0; height: 100%; width: 20%; left: 0; opacity: 0.4;
  background: var(--contrast); transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.projects__tile-container {
  display: grid; grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 50px; grid-template-rows: 350px; padding-bottom: 40px;
}
.projects__tile {
  border: 2px solid var(--main-darker); border-radius: 5px; color: var(--lightest);
  overflow: hidden; height: 100%; cursor: pointer;
  animation: tile_enter 0.15s ease-in-out; box-shadow: 0px 1px 35px var(--main-dark);
}
.projects__tile-hidden {
  display: none;
}
.projects__tile-front {
  background: var(--main-darker); height: 100%; overflow: hidden;
  transition: all .2s;
}
.projects__tile-front .projects__tile-text {
  color: var(--contrast); font-size: 1.1rem;
}
.projects__tile-front .projects__tile-title {
  color: var(--light)
}
.projects__tile-screenshot {
  max-width: 100%;
}
.projects__tile-title {
  grid-column: span 2; border-bottom: 2px solid var(--main-dark); margin: 0; 
  padding: 10px 0; color: var(--main-dark);
}
.projects__tile-close {
    right: 5px; top: 5px; position: absolute; font-size: 2.3rem; color: var(--main-darker);
    font-weight: 100;
}
.projects__tile-text {
  grid-column: span 2; font-size: 0.9rem; line-height: 1.2rem; padding: 0 5px; color: var(--main-darker)
}
.projects__tile-back {
  display: grid; grid-template-columns: 1fr 1fr; grid-template-rows: auto auto 1fr auto;
  background: var(--contrast); height: calc(100% - var(--collapsed-height));
  overflow: hidden; position: relative;
}
.project__tile-links {
  border: 2px solid var(--main-dark); border-radius: 50%; width: 40px; height: 40px;
  display: flex; align-items: center; justify-content: center; background: none;
  color: var(--main-dark); padding: 4px; justify-self: center; font-size: 1.6rem;
  margin: 10px; align-self: flex-end;
}
.project__links-disabled {
  cursor: not-allowed; opacity: 0.5; color: gray; border-color: gray;
}
.projects__tile-icons {
  grid-column: span 2; padding: 0; margin: 5px 0; font-size: 0.9rem; display: flex;
  align-items: center; justify-content: space-evenly; flex-wrap: wrap; list-style: none;
  border-top: 1px solid var(--main-dark);
}
.projects__tile-img {
  max-width: 40px; max-height: 40px;
}
.projects__tile-flipped .projects__tile-front {
  height: var(--collapsed-height);
}



.skills {
  background-image: url('/images/texture-skills.png');
  grid-template-columns: 1fr; grid-gap: 20px; justify-items: center; padding-bottom: 50px;
  background-color: var(--main-dark); z-index: 4; box-shadow: 0px 3px 30px var(--dark);
}
.skills__header {
  color: var(--lightest);
}
.skills__section {
  padding: 10px 30px; width: 90%; background: var(--lightest); border-radius: 3px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12); text-align: center;
}
.skills__section-title {
  font-weight: 100; font-size: 2.2rem; border-bottom: 3px solid var(--contrast);
  padding-bottom: 4px
}
.skills__list {
  padding: 0; display: grid; grid-template-columns: repeat(auto-fill, minmax(150px, 150px));
  list-style: none;
}
.skills__list li {
  display: flex; flex-direction: column; align-items: center; justify-content: space-between;
}
.skills__list img {
  max-width: 90px; margin: 10px 0;
}
.skills__button {
  font-size: 1.7rem; background: none; border: 2px solid var(--contrast); margin: 15px 0;
  padding: 9px; color: var(--light); border-radius: 3px; text-decoration: none;
  display: flex; align-items: center;
}
.skills__resume-icon {
  margin-right: 10px; width: 30px;
}

.courses {
  grid-gap: 15px; margin: 0; background-color: var(--lightest);  z-index: 3;
  box-shadow: 0px -12px 50px var(--dark);
}
.courses__quote {
  padding: 10px;
}
.courses__text {
  font-size: 1.5rem; line-height: 2.3rem; font-weight: 100; padding: 0 20px;
}
.courses__container {
  display: flex; flex-wrap: wrap; justify-content: space-evenly; align-items: center;
}
.courses__card {
  width: 28%; padding: 10px; border: 1px solid var(--main-dark); border-radius: 3px; margin: 20px 0;
  display: grid; grid-template-columns: 1fr 1fr; grid-gap: 10px; background: var(--contrast-light);
}
.courses__card-title {
  font-size: 1.4rem; text-align: left; margin: 0; grid-column: span 2; padding: 0 5px 5px 0;
  border-bottom: 2px solid var(--contrast); display: flex; align-items: center;
  text-decoration: none; color: var(--main-dark); justify-content: space-between;
}
.courses__img {
  max-width: 50px; display: block; margin: 0 7px;
}
.courses__card-institution {
  font-size: 0.8rem; font-weight: bold;
}
.courses__card-date {
  text-align: right; font-size: 0.8rem;
}
.courses__card-text {
  font-size: 0.85rem; grid-column: span 2; font-weight: 100;
}
.courses__card-button {
  display: none;
}

.contact {
  background-color: var(--contrast-light); justify-items: center; z-index: 2;
}
.contact__header {
  margin: 2rem auto;
}
.contact__social {
  display: flex;
}
.contact__social-fig {
  margin: 0 30px; display: flex; flex-direction: column; justify-content: space-around;
  align-items: center;
}
.contact__social-fig a {
  color: var(--main-dark); text-decoration: none;
}
.contact__social-icon {
  width: 35px; margin-bottom: 20px;
}
.contact__text {
  font-size: 1.5rem; line-height: 2.3rem; font-weight: 100;
}
.contact__form {
  padding: 15px; display: grid; width: 40%; font-weight: 100;
}
.form__input, .form__textarea, .form__submit {
  margin: 5px 10px; background: var(--main-darker); font-size: 0.9rem;
  padding: 5px; color: var(--lightest); border: none; outline: none;
}
.form__textarea {
  height: 90px; font-size: 1rem; font-family: var(--main-font);
}
.form__submit {
  width: 20%; color: var(--main-darker); background: none; justify-self: flex-end;
  border: 2px solid var(--main-darker); text-transform: uppercase; cursor: pointer;
}

.footer {
  background: var(--main-darker); color: var(--light); position: relative;
  text-align: center; font-size: 0.8rem; padding-bottom: 50px; z-index: 1;
}
.footer__copyright {
  padding-top: 100px;
}
.footer::before, .footer::after {
  width: 50%; height: 50px; position: absolute; content: ' ';
  background: linear-gradient(to top right, var(--main-darker) 0% 50%, var(--contrast-light) 50% 100%);
}
.footer::before {
  left: 0;
}
.footer::after {
  transform: scaleX(-1); right: 0; top: 0;
}
.footer__button {
  font-size: 2.2rem; border: 1px solid var(--contrast); background: none;
  color: var(--light); border-radius: 4px; padding: 6px 11px; cursor: pointer;
}
.footer__button:hover i {
  animation: chevron 1.3s linear 0s infinite;
}
@keyframes chevron {
  from {transform: translateY(0);}
  80% {transform: translateY(-8px);}
  100% {transform: translateY(-8px);}
}
@keyframes tile_enter {
  from { opacity: 0.95; transform: scale(0.75);}
  to { opacity: 1; transform: scale(1); }
}


@media screen and (max-width: 812px) {
  body {
    background-size: 160%; background-position: 0 0; max-width: 100vw; overflow-x: hidden;
  }
  blockquote { 
    margin: 0; font-size: 1.5rem;
  }
  .section-header { 
    margin: 5px 0; font-size: 1.8rem; border-bottom: none;
  }

  .home {
    height: auto; padding-top: 50px; background: none;
  }
  .home__logo { 
    width: 25%;margin: 0; 
  }
  .home__name { 
    font-size: 3rem; margin: 0; text-shadow: 0 0 75px var(--main-dark);
  }
  .home__text { 
    font-size: 1rem; color: var(--main-dark); text-shadow: none; font-weight: bold;
  }
  .home__chevron { font-size: 3rem; }
  
  .nav {
     display: flex; padding: 0;
    }
  .nav__link-container { width: 100%; }
  .nav__desktop-only { display: none; }
  .nav__link { 
    font-size: 0.85rem; margin: 0; text-align: center; font-weight: 100; padding: 10px 3px;
  }
  .nav__logo { display: none; }
  
  .about { 
    padding: 10px 5px; width: 97%;
  }
  .about__text { 
    font-size: 1rem; line-height: 1.5rem; margin: 0 0 1rem 0;
    border-bottom: 1px solid var(--contrast); padding-bottom: 10px;
  }
  .about__logos-container { 
    overflow: hidden; grid-gap: 8px; padding: 0; grid-template-columns: repeat(3, 120px);
  }
  .about__logos-desktop { display: none; }
  .about__logo-wrapper {
    height: 60px; width: 60px;
  }
  .about__logo-header {
    font-size: 1rem; letter-spacing: 0; font-weight: bold;
  }
  .about__logos-tile { grid-template-rows: auto auto 1fr; }
  .about__logo-wrapper:hover { transform: none; }

  .projects { 
    padding: 0; width: 100%; 
  }
  .projects__filters-list { 
    width: 100%; margin: 5px auto; display: flex; flex-direction: column; width: 55%;
  }
  .projects__filters-list li { 
    word-break: break-word; line-height: 0.8rem; border-bottom: none;
  }
  .projects__slider { 
    height: 20%; border-bottom: 2px solid var(--main-dark); opacity: 1;
    border-top: 2px solid var(--main-dark); background: rgba(220, 70, 10, 0.5);
  }
  .projects__tile-container {
    grid-gap: 20px; grid-template-rows: 250px;
  }
  .projects__tile-title { padding: 5px 0; }
  .projects__tile-close { top: 0; }
  .projects__tile-text { 
    margin: 0; font-size: 0.85rem;
  }

  /* .skills { width: 101%; } */
  .skills__section { 
    font-size: 0.8rem; padding: 10px 10px;
  }
  .skills__section-title {
    font-size: 1.2rem; margin: 0; font-weight: normal; text-align: left;
  }
  .skills__list img { 
    max-width: 50px; margin: 5px 0;
  }
  .skills__list {
    grid-template-columns: repeat(auto-fit, minmax(80px, 80px)); justify-content: space-between;
  }
  .skills__button { font-size: 1.3rem; }

  .courses { grid-gap: 0; }
  /* width: 101%; */
  .courses__text { 
    font-size: 1.2rem; line-height: 1.5rem; 
  }
  .courses__card { 
    width: 90%; margin: 5px 0;
  }
  .courses__card-title { font-size: 1.1rem; }
  .courses__img { max-width: 40px; }
  .courses__card-text { display: none; }
  .courses__card-expanded .courses__card-text { display: block }
  .courses__card-expanded button { display: none }
  .courses__card-button { 
    border: 2px solid var(--main-dark); display: block; grid-column: span 2;
    padding: 5px 0; background: none; width: 55%; justify-self: center;
  }
  
  /* .contact { width: 101%; } */
  .contact__text { 
    font-size: 1.1rem; line-height: 1.8rem; padding: 0 10px; margin: 0;
  }
  .contact__social { 
    justify-content: space-evenly; width: 100%; 
  }
  .contact__form { 
    width: 95%; padding: 0;
  }
  .contact__social-fig { margin: 0 5px; }
  figcaption { display: none; }
  .form__submit { width: 30%; }

  .footer { padding-bottom: 15px; }
  /* width: 101%;  */
  .footer__copyright { padding-top: 55px; }
  .footer__button { font-size: 1.5rem;}
  footer p { margin: 0; }
}

/* Extra small iphone 5 screen */
@media screen and (max-width: 320px) {
  .home { padding-top: 40px; }
  .home__logo { display: none; }
  .nav__link { 
    font-size: 0.60rem; font-weight: bold;
  }
  .about__logos-container { grid-gap: 0; }
  .about__logos-text { 
    font-size: .8rem; width: 60%;
  }
  .skills__list { margin: 10px 0 0 0; }
  .skills__list img { max-width: 35px; }
}
